<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
    <title>Hello!</title>
<script>
alert("Hello world!!");//アラート（ダイアログ）
</script>

<!--------------------------------------------------------------------------------------------------------------------------------------------->

<div id="t1"></div>
<script>
document.getElementById("t1").innerHTML = "Hello world!!";//ブラウザに表示
</script>
<!--------------------------------------------------------------------------------------------------------------------------------------------->

<script>
    console.log("Hello world!!");//コンソールに表示
</script>
<!--------------------------------------------------------------------------------------------------------------------------------------------->

<div id="d1"></div>
<script>
document.getElementById("d1").innerHTML = new Date().toLocaleString();//時刻を表示
</script>
<!--------------------------------------------------------------------------------------------------------------------------------------------->

<div id="d2">&nbsp;</div>
<script>
setInterval(function() {
  document.getElementById("d2").innerHTML = new Date().toLocaleString();//自動でカウントする時刻表
}, 1000);
</script>

<!--------------------------------------------------------------------------------------------------------------------------------------------->

<!-- JavaScript 外部ファイル(src=...)
また、HTML とは別に、外部ファイルに記述した JavaScript ファイルを呼び出すこともできます。例えば、下記の内容を test.js など、拡張子が .js のファイルに記述しておきます。

test.js
function ohayou() {
  alert("Hello!");
}
これを、HTML ファイルから次のようにして読み込みます。 -->

<title>JavaScript Sample</title>
<script src="test.js"></script>
<body>
    :
 <input type="button" value="OK" onclick="ohayou()">
    :
 </body>
<!-- 外部ファイルを複数読みこませたい場合は、次のように <script> を2つ記述してください。

    HTML
    <script src="test1.js"></script>
    <script src="test2.js"></script>
</head> -->
<!--------------------------------------------------------------------------------------------------------------------------------------------->

<!-- イベントハンドラ(on～)
上記の例でも使用していますが、次のようにして、ボタンをクリックしたとき（onclick）やマウスを乗せたとき（onmouseover）などに JavaScript を実行することができます。これを、イベントハンドラと呼びます。下記の例では、Click Me!! というボタンを押したときに、Hello! というダイアログを表示します。

HTML -->
<input type="button" value="Click Me!!" onclick="alert('Hello!!')">

<!--------------------------------------------------------------------------------------------------------------------------------------------->

<!-- URL記述(javascript:...)
JavaScript を下記のように記述すると、リンクをクリックした際に JavaScript を実行することもできます。

HTML -->
<a href="javascript:alert('Hello!!')">Click Me!!</a>
<!--------------------------------------------------------------------------------------------------------------------------------------------->

<!-- 型
JavaScript では下記の型を使用できます。

型	例	説明
未定義(undefined)	undefined	未定義値。
ヌル(null)	null	ヌル値。
真偽値(boolean)	true, false	真偽値。
文字列(string)	"abc..."	文字列。
数値(number)	123, 123.45, 1.23e45, NaN	数値。
オブジェクト(object)	var o = new Object()	オブジェクト。
関数(function)	function() { ... }	関数。
シンボル(symbol)	Symbol("foo")	ES6(ES2015) で追加された型で、他の値と重複しないユニークなシンボル値を生成します。
変数や式の型を調べるには、typeof 演算子を用います。 -->

<p>2時間を秒に変換すると、<span id="result"></span> 秒です。</p>

<script>
// JavaScript関数の定義
function toSeconds(hour, min = 0, sec = 0) {
  var answer = hour * 3600 + min * 60 + sec;
  return(answer);
}

// 関数の呼び出しと結果の表示
var sec = toSeconds(1);   // 2時間を秒に変換
document.getElementById("result").textContent = sec; // 結果をHTMLに表示
</script>
<!--------------------------------------------------------------------------------------------------------------------------------------------->

<!-- メソッド
オブジェクトはまた、動作を指定する際に用いるメソッド(処理)をサポートしています。例えば window オブジェクトは、alert() や open() などのメソッドを持ちます。

JavaScript
window.alert("Hello");            // 警告ダイアログを表示する
window.open("xx.html", "_blank"); // 新しくウィンドウを開いて表示する -->

<!--------------------------------------------------------------------------------------------------------------------------------------------->

<!-- アウトプット
午前：ITpassの受験勉強9:00〜13:00
午後：Javascript/C言語の勉強/オリジナルアプリの開発

オリジナルアプリ（todo※暫定名）開発状況



一つ一つコツコツ、しかし着実に頑張ります！ -->

<!-- 予約語
変数名や関数名としては使用しない。

予約語一覧
await, break, case, catch, class, const, continue, debugger, default, delete, do, else, enum, export, extends, false, finally, for, function, if, import, implements, in, instanceof, interface, let, new, null, package, private, protected, public, return, static, super, switch, this, throw, true, try, typeof, var, void, while, with, yield -->



<!-- strictモードでは、より的確なエラーチェックが行われる。
これまでエラーにならなかったような曖昧な実装がエラー扱いになります。

何が厳格になったの？
withの使用の禁止
eval内で宣言された変数のスコープ
単純名の削除の禁止
いくつかの識別子を予約語に
arguments の単純化
セキュアな JavaScript 作成の容易化
8進数表記の禁止 etc..
メリット）
コード内に存在する潜在的な問題を早期に発見しやすくなります。
strictモードのコードは高速に実行することができる場合がある（JSエンジンによる最適化処理を困難にする誤りを修正するため） -->

<!--------------------------------------------------------------------------------------------------------------------------------------------->


<!-- 構文 -->
<script>

// 複文(ブロック)
// {
//   xx = 3;
//   yy = 5;
//   zz = xx + yy;
// }


// 変数・定数宣言
var xx = 5;
var yy = 8;
var zz = xx + yy;

console.log(zz);

</script>



</head>
</html>