.top {
    width: 80%;
    /*background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(28, 24, 24, 0.5)), url('#');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10vh 10vw;
    color: #2b2c2a;     /* 文字色を白に指定 */
    font-size: 80px; /* 適度な文字サイズを指定 */
    /*text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #050505, 0 0 70px #060506, 0 0 80px #141014, 0 0 100px #060406, 0 0 150px #0a090a; /* 薄い紫色の光を再現 */
    font-family:Arial Rounded MT; /* 読み込んだり、ダウンロードしたフォントを使う */
  }

.side-header {
    background-color: #cc5555;
    padding: 10px;
    margin-top: 20px;
    width: 10%;
    border: 1px solid #ddd; /* ボーダーのスタイルを指定 */
    border-radius: 5px; /* 角丸にする */

  }

  .header-name a {
    text-decoration: none;
    font-size: 18px;
    color: #e5dada;
  }

  #notice {
    color: #e3d8d8; /* Bootstrapの赤色を指定 */
    font-size: 16px;
    margin-bottom: 20px;
  }

/* （タイトル）ボタンのスタイル */
.button-link {
  display: inline-block;
  padding: 8px 16px;
  background-color: #3c3938;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* （タイトル）ボタンのホバースタイル */
.button-link:hover {
  background-color: #3e927f;
}
  body {
    font-size: 16px;
  }
  
  /* タイトルのスタイル */
.title {
    margin-bottom: 15px;
  }
  
  .form-tag {
    font-weight: bold;
    color: #333; /* フォントカラーを指定 */
  }
  
  /* 入力フォームのスタイル */
  form {
    max-width: 600px; /* フォームの最大幅を指定 */
    
  }
  
  .title input,
  .content input,
  .time select {
    display: flex;
    width: 60%;
    padding: 8px; /* 少し小さく */
    margin-bottom: 10px;
    border: 3px solid #000000; /* ボーダーのスタイルを指定 */
    border-radius: 5px; /* 角丸にする */
  }

  .time{
    display: flex;
    width: 100%;
  }
  
  /* 送信ボタンのスタイル */
  .submit input {
    background-color: #4CAF50; /* ボタンの背景色を指定 */
    color: white; /* ボタンのテキストカラーを指定 */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit input:hover {
    background-color: #45a049; /* ホバー時の背景色を指定 */
  }
  
  /* テーブルのスタイル */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 12px; /* 少し小さく */
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* 入室者のスケジュールのスタイル */
  .schedule {
    font-size: 30px;
    font-weight: bold;
  }
  
  .header-name a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
  }
  
  /* 通知メッセージのスタイル */
  #notice {
    color: #d9534f; /* Bootstrapの赤色を指定 */
    font-size: 16px;
    margin-bottom: 20px;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    /*background-color: rgba(0, 0, 0, 0.05);*/
  }
